<% books.each do |book|%>
  <tr>
    <td><%= attachment_image_tag @user ,:profile_image, fallback:'no_image.jpg',size:'50x50'%></td>
    <td>
      <%= link_to book_path(book.id) do%>
        <%= book.title %>
      <% end %>
    </td>
    <td><%= book.body %></td>
    <td><%= book.created_at.strftime('%Y/%m/%d　%H時 %M分')%></td>
    <% if book.favorited_by?(current_user) %>
    <td>
      <%= link_to book_favorites_path(book),method: :delete,remote: true do %>
          <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
      <% end %>
      <%= book.favorites.count %> いいね
    </td>
  <% else %>
    <td>
      <%= link_to book_favorites_path(book),method: :post,remote: true do%>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
      <% end %>
        <%= book.favorites.count %> いいね
    </td>
  <% end %>
  </tr>
<% end %>