<%=render  'users/list',user: @user,book: @book_new %>

	<div class="col-xs-9">
		<h2>Books</h2>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
					<th>date</th>
					<th></th>
				</tr>
			</thead>
			<% @books.each do |book|%>
				<tbody>
					<tr>
						<td><%= attachment_image_tag @user ,:profile_image, fallback:'no_image.jpg',size:'50x50'%></td>
						<td>
							<%= link_to book_path(book.id) do%>
								<%= book.title %>
							<% end %>
						</td>
						<td><%= book.body %></td>
						<td><%= book.created_at.strftime('%Y/%m/%d　%H時 %M分')%></td>
						<% if book.favorited_by?(current_user) %>
						<td>
							<%= link_to book_favorites_path(book),method: :delete do %>
								 <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
							<% end %>
							<%= book.favorites.count %> いいね
						</td>
					<% else %>
						<td>
							<%= link_to book_favorites_path(book),method: :post do%>
								 <i class="fa fa-heart-o" aria-hidden="true"></i>
							<% end %>
							 <%= book.favorites.count %> いいね
						</td>
					<% end %>
					</tr>
				</tbody>
			<% end %>
		</table>
	</div>

<% if @user == current_user %>
  <h2>Your MAP</h2>
  <div id='map' class="<%= @user.prefecture_code + @user.address_city + @user.address_street %>"></div>
<% end %>

<style>
#map{
  height: 400px;
}
</style>

<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/

let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()
  geocoder.geocode( { 'address': $('#map').attr('class')}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 8
  });
}

function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;
う
  // geocodingしたあとmapを移動
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7AHHyVTNFM84Jkp44Svkj8XEasVfPnUM&callback=initMap" async defer></script>