<%= render 'users/list' ,user: @user,book: @book_new%>
<div class="col-xs-9">
	<h2>Book detail</h2>
	<table class="table favorite">
		<%= render 'favorite',book: @book%>
	</table>

	<h4>コメント一覧</h4>
	<table class="table comment">
		<%= render 'comment',book_comments: @book_comments%>
	</table>

	<%= form_for [@book,@book_comment],remote: true do |f| %>
		<h4><%= f.label :comment,"コメント欄"%></h4>
		<div class="field form-group ">
			<%= f.text_area :comment,rows:'3',class:'form-control',placeholder:"コメント記入欄" %>
		</div>
		<%= f.submit "送信",class:'btn btn-default'%>
	<% end %>
</div>